.footer {
  background-color: #020f2a;
  padding: 30px 0;
  color: #fffbfb;
}
.top-footer {
  padding: 0 30px 30px;
  border-bottom: 1px solid #00b8ff;
}
/* .top-footer-logo {
  width: 100px;
  cursor: pointer;
  margin-right: 200px;
} */
.top-footer-logo {
  width: 100px;
  cursor: pointer;
  margin-right: 200px;
}

.top-footer-download {
    transform: translateX(800px);
}
.top-footer-logo,
.top-footer-social,
.top-footer-download {
  display: inline-block;
}
.top-footer-download img {
  width: 150px;
}
.top-footer-social ul li {
  display: inline-block;
}
.top-footer-download img:last-child {
  margin-bottom: 17px;
}
.top-footer-download span {
  display: inline-block;
  transform: translateY(-32px);
}
.top-footer-download {
  line-height: 1;
  /* transform: translate(150px 200px); */
  /* transform: translateX(155%); */
  /* transform: translateY(300px); */
}
.bottom-footer {
  padding: 30px 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-footer-infor ul {
  display: flex;
  align-items: center;
}
.bottom-footer-infor ul li {
  margin-right: 15px;
  cursor: pointer;
}
