.header {
  background-color: #065694;
  padding: 15px 30px;
}
.header-logo,
.header-nav {
  display: inline-block;
  margin-right: 20px;
}
.header-logo img {
  width: 64px;
  margin-left: 10px;
  margin-top: 5px;
}
.header-log i,
.header-nav {
  color: aliceblue;
}

/* letter = cách chữ , text-tranform= viết hoa */
.header-nav ul li {
  display: inline-block;
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1px;
  opacity: 0, 8;
}
.header-logo i {
  padding: 8px 9px;
  border-radius: 50%;
}
.header-nav ul li:hover {
  opacity: 1;
}
